* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec); /* soft gradient */
  color: #333;
  line-height: 1.3;
}
header {
  background: #222; /* Slightly lighter than pure black */
  color: #f9f9f9;
  padding: 2rem 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
header h1 {
  font-size: 2rem;
}
nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  color: #ff9800; /* Add accent color on hover */
}
section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: auto;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}
.card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.contact a {
  display: inline-block;
  margin: 0.5rem;
  color: #333;
  text-decoration: none;
}
footer {
  text-align: center;
  padding: 2rem 0;
  background: #222;
  color: #ccc;
}
#profile-photo {
  width: 10rem;
  object-fit: fill;
  padding: 10px;
  border-radius: 80%;
  /* height: 12rem; */
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 80%; */
}
.intro {
  padding-top: 2rem;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.skill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.skill:hover {
  transform: scale(1.1);
}

.skill span {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  opacity: 0;
  transition: opacity 0.4s;
}

.skill:hover span {
  opacity: 1;
}
h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid #00bcd4;
  display: inline-block;
  padding-bottom: 0.3rem;
}
.download-cv {
  position: absolute;
  bottom: 0.2rem;
  right: 0.5rem;
  text-decoration: none;
}
.download-cv button {
  font-size: 0.8rem;
  padding: 0.2rem;
  background-color: #cfe4e6;
  border: 1px solid rgb(93, 91, 91);
  border-radius: 3px;
}
.download-cv button:hover {
  background-color: #a9e0e5;
}
